/* .App{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container
{
    margin: 50px;
    background-color: rgba(167, 167, 167, 0);
    padding: 20px 25px ;
    width:20vw;
    height:45vh;
    border-radius: 14px;
}
.image{
  /* justify-content: center;
  align-items: center; */
    /* width:20vw;
    height: 25vh;
    background-image: url('https://icon-library.com/images/no-picture-available-icon/no-picture-available-icon-1.jpg');
    background-size:fit;
    background-repeat: no-repeat;
    scale: 1.02;
    border-radius: 1.3vw;
    overflow: hidden;
}
.discription{
  font-size: 2.25vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
button{
    background-color: rgb(196, 89, 49);
    border: none;
    font-size: 2vh;
    width: fit-content;
    height: 3.6vh;
    border-radius: .9vh;
} */ 


.App input{
  height: 50px;
  width: 30vw;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
input::placeholder{
  font-size: 30px;
  text-align: center;
  
}
img{
  width: 400px;
  aspect-ratio: 250/200;
  height: 300px;
}
.collage{
  background-color: rgb(243, 240, 240);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container{
  margin: 50px;
  background-color: rgba(255, 254, 254, 0.794);
  padding: 20px 25px ;
  width:20vw;
  height:45vh;
  border-radius: 14px;
}
.image{
  
  width: 20vw;
  height: 25vh;
    background-image: url('https://icon-library.com/images/no-picture-available-icon/no-picture-available-icon-1.jpg');
    background-size:fit;
    background-repeat: no-repeat;
    /* scale: 1.02; */
    border-radius: 1.3vw;
    overflow: hidden;
    object-fit: cover;
  
}

.title{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}
.discription {
  font-size: 2.25vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.button{
  background-color: rgb(235, 80, 24);
  border: none;
  font-size: 2vh;
  width: fit-content;
  height: 3.6vh;
  border-radius: .9vh;
  float: right;
} 
.footer_box{
  font-size: 25.5px;
  background-color: black;
  color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.summary{
  padding-top: 50px;
  max-width: 30%;
  word-wrap: wrap;
}
